[submodule "src/assets/libs/Simple-Tiled-Implementation"]
	path = src/assets/libs/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "src/assets/libs/bump"]
	path = src/assets/libs/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "src/assets/libs/hump"]
	path = src/assets/libs/hump
	url = https://github.com/vrld/hump.git
[submodule "src/assets/libs/flux"]
	path = src/assets/libs/flux
	url = https://github.com/rxi/flux.git
[submodule "src/assets/libs/lua-fsm"]
	path = src/assets/libs/lua-fsm
	url = https://github.com/unindented/lua-fsm.git
[submodule "src/assets/libs/shack"]
	path = src/assets/libs/shack
	url = https://github.com/Ulydev/shack.git
